

  .main-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://img.freepik.com/free-vector/gorgeous-clouds-background-with-blue-sky-design_1017-25501.jpg");
  }
  
  .weather-card {
    max-width: 400px;
    width: 100%;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 5px 5px 3px lightblue;
    background-color: #fff;
    text-align: center;
  }

  .search-bar {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 18px;
  }
  
  .btnn {
    background-color: rgb(94, 94, 235);
    color: #fff;
    padding: 10px;
    margin: 5px;
    border: none;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 4px;
    cursor: pointer;
    width: 70%;
  }
  
  .btnn:hover {
    background-color: rgb(62, 62, 224);
  }

  
  